@charset "utf-8";

@media screen and (min-width:800px) {
    #burguer {
        display: none;

    }
    menu {
        display: block;
    }  
    menu li {
        display: inline-block;
    }
    main {
        max-width: 800px;
    }
}